$accent: #685742;

@import "marble";

// Root
@import "templates/root";

// Landing
@import "templates/landing";

// Docs
@import "templates/docs";

// Search
@import "templates/search";

// Updates
@import "templates/updates";

// Blog
@import "templates/blog";

// Tutorial
@import "templates/tutorial";

// Custom style
p.about-description {
  font-size: 24px;
}

h3.about-title {
  font-size: 90px;
}
.header > .container, .about > .container, .features > .container {
  padding: 184px 20px;
  top: 64px;
}
body {
  background-color: #eef2f9;
}
.about, .footer, .topbar.topbar-light, .guide:not(.content) .topbar {
  background-color: #685742;
  background-image: -webkit-linear-gradient(left,#685742,#9a8468);
  background-image: linear-gradient(to right,#685742,#9a8468);

  .guide-header {
    text-align: center;
    width: 100%;
    line-height: 44px;

    .title {
      font-weight: 700;
      font-size: 2.5rem;
    }

  }
}
.btn-accent:hover, .btn-accent:focus, .btn-accent.focus {
  background-color: #9a8468;
}
.docs .title {
  color: #fff;
  padding: 0 10px;
}
.topbar .topbar-logo .topbar-logo-link > *:last-child, .topbar .topbar-logo .topbar-logo-icon {
  color: #fcfeff;
}
.topbar.topbar-light .topbar-logo .topbar-logo-link {
  color: #685742;
}
.docs-home-topics, .docs .sidebar-list .sidebar-link {
  color: #685742;
  background-color: #eef2f9;
}
.sidebar {
  background-color: #eef2f9;
}
.sidebar-link {
  background-color: #dae3ef;
}
// .sidebar-link {
//   background-color: #dae3ef;
// }
.toggler-collapsed {
  border-bottom: 2px solid #685742;
}
.docs .sidebar-list {
  padding: 0;
}
.docs .sidebar-list .sidebar-link-selected {
  border-left: 3px solid #685742;
  background-color: #dae3ef;
}
.sidebar-search {
  border-bottom: 2px solid #685742;
}
li.sidebar-item .active {
  border-left: 3px solid #685742;
}
.future-feature {
  b {
    padding: 10px;
  }
}
.nav-btn-container {
  margin: 30px;
}
.btn-holder {
  margin: 30px 20px 30px 20px;
  a {
    margin: 0 20px 20px;
  }
}
.nav-btn {
  text-align: right;
  padding: 0 30px;
  a, a:visited {
    text-decoration: none;
  }
  .btn {
    margin: 30px;
  }
}
.small {
  max-width: 60%;
}
.large {
  max-width: 100%;
}
.docs-img {
  padding: 30px;
  margin: auto;
}
.topic {
  color: #685742;
  display: block;
  margin: 20px auto 24px;
  text-align: center;
}
.topic .topic-icon, .topic.radial-out:before {
  background-image: -webkit-linear-gradient(left,#685742,#9a8468);
  background-image: linear-gradient(to right,#685742,#9a8468);
}
.radial-out .topic-title {
  color: #685742;
}
.topic.radial-out:hover .topic-icon, .topic.radial-out:focus .topic-icon {
  background-color: transparent;
  background-image: none;
}
article {
  border-top: 6px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #9a8468 0%, #685742 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #9a8468 0%, #685742 100%);
  border-image: linear-gradient(to right, #685742 0%, #9a8468 100%);
  border-image-slice: 1;
}
.first-article {
  border-top: 6px solid #685742;
}
.docs-nav.affix {
  top: 84px;
  z-index: 10;
}
.topbar {
  height: 75px;
}
.contribute {
  border: 3px solid #685742;
}
.contribute-box {
  border-left: 3px solid #685742;
}
.arrow a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #685742;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.arrow a:hover {
  opacity: .5;
}
#arrow {
  top: 0;
}
#arrow a {
  padding-top: 70px;
}
#arrow a span {
  position: absolute;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #685742;
  border-bottom: 1px solid #685742;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
body, html { width: 100%; height: 100%;}

.guide-header-icon {
  font-size: 44px !important;
  color: white;
  height: inherit;
  padding: 0px 10px;
}

.docs .sidebar-offset {
    width: calc(100% - 284px);
    margin-left: 284px;
    padding-top: 60px;
}

.reading-progress {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(14, 20, 26, 0.1);
  position: fixed;
  width: 255px;
  top: 104px;
}

.docs-link {
  line-height: 60px;
}

.point {
  padding: 70px 0!important;
}